# Ignore Python cache files
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore test cache
.pytest_cache/

# Ignore log files and directories
logs/
*.log

# Ignore chatbot directory
chatbot/
data/

# Ignore environment and dependency files
venv/
.env
.DS_Store

# Ignore temporary files and system files
*.swp
*.swo
*.bak
*.tmp